<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/fragments :: head}"></head>
		<body>
			<header th:insert="~{fragments/navbar :: navbar('tickets')}"></header>		
			<main class="container">
				<div class="row">
					<div class="col-12">					
						
						<th:block th:object="${ticket}">
							
							<h1 class="py-4 mb-2 text-center">
								Details for [[ *{title} ]]
							</h1>
							
							<div class="row justify-content-center">
								<div class="col-6">
									<div class="card">
									  <div class="card-header"> Single ticket detail -- Status: [[ *{status} ]] </div>
									  <div class="card-body">
									    <h5 class="card-title">											
											Description: [[ *{description} ]]
										</h5>
									    <a th:href="@{/tickets}" class="btn btn-primary"> Back </a>
									  </div>
									</div>
								</div>								
							</div>
																
						</th:block>
					</div>					
				</div>
			</main>
			<footer th:replace="~{fragments/fragments :: footer}"></footer>	
			<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</body>
</html>
